<style scoped>
  .jumbotron {
    background-image: url("/images/mainBg.jpeg");
    background-size: cover;
    color: white;
  }
  
  .jumbotron h1 {
    font-size: 3em;
    text-shadow: 1px 1px 3px black;
  }
  
  .jumbotron a {
    font-size: 1em;
  }
  
  .navbar-brand {
    color: white;
  }
</style>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="align-middle">Help us with the greatest pedometerian experiment of the 21<sup>st</sup> century:</h1>
    <br> 
    <p class="lead text-center"><a class="btn btn-primary" href='/moves/signup' style="font-size: 1.5em;">Join Today</a></p>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1>Some big header here</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu libero congue est accumsan iaculis. Sed non nisl
        ante. Nunc aliquet hendrerit diam, non pharetra neque auctor ac. Morbi eu massa diam. Donec quis odio ac ex accumsan
        vehicula. Etiam ut nunc malesuada, scelerisque leo eu, tincidunt quam. Cras lobortis neque felis, sit amet luctus
        ipsum tincidunt at. Nam a nunc nec justo blandit laoreet eget non urna. Vestibulum molestie ac ligula ac tempus.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In posuere libero id neque
        congue, non ornare ex pharetra. Suspendisse pretium ultrices velit, sit amet auctor magna luctus in. Cras id sem
        ac quam pretium lobortis eu quis libero.</p>
    </div>
  </div>
</div>