<style scoped>
  .jumbotron {
    background-image: url("/images/mainBg.jpeg");
    background-size: cover;
    color: white;
  }
  
  .jumbotron h1 {
    font-size: 3em;
    text-shadow: 1px 1px 3px black;
  }
  
  .jumbotron a {
    font-size: 1em;
  }
  
  .navbar-brand {
    color: white;
  }
</style>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="align-middle">Help us with the greatest pedometerian experiment of the 21<sup>st</sup> century:</h1>
    <br> 
    <p class="lead text-center"><a class="btn btn-primary" href='/moves/signup' style="font-size: 1.5em;">Join Today</a></p>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h2>What is this?</h2>
      <hr>
      <p><b>The Extra Mile</b> is our (<a href="http://ballymakennycollege.ie">Ballymakenny College</a> Science Club's) entry to the <a href = "https://www.seai.ie/teaching-sustainability/one-good-idea/">One Good Idea</a> competition, run by the <a href = "http://seai.ie">Sustainable Energy Authority of Ireland</a> (SEAI). The competition aims to <i>"Inspire lifestyle changes to save energy and help tackle climate change."</i> For our project, we're using an activity tracking app, <a href="http://moves-app.com">Moves</a>, to collate data from students' activities, to educate people about how to travel greener through a fun, competition based, technological medium.</p>
    </div>
  </div>
</div>