<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <title>The Extra Mile</title>
        <link href="/styles/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar sticky-top navbar-light" style="background-color: #98E0DA;">
           <a class="navbar-brand" href="#">The Extra Mile</a>
        </nav>

        <%- body %>

        <script src='/js/jquery-3.2.1.min.js'></script>
        <script src='/js/bootstrap.min.js'></script>
    </body>
</html>